body {
    background: url('../images/arena.jpg') no-repeat center center/cover;
    font-family: 'New Amsterdam', Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
}

h1{
    font-size: 350%;
    color: rgb(197, 31, 31);
    background-color: azure;
    padding: 12px;
    border-radius: 400px;
}

#game-area{
    position: absolute;
    bottom: 50px;
}

.choices button {
    font-size: 800%;
    margin: 0 15px;
    border-radius: 300px;
    background-color: hsl(200, 205, 208);
    cursor: grab;
}

.choices button:hover{
    background-color: rgb(200, 205, 208);
}

.score-board {
    text-align: center;
    background-color: azure;
}

.result {
    text-align: center;
    background-color: azure;
}