@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

/* Add´s background and game-area style */
body {
    background: url('../images/arena.jpg') no-repeat center center/cover;
    font-family: 'New Amsterdam', Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
}

/* Styles the header */
h1{
    font-size: 350%;
    color: rgb(197, 31, 31);
    background-color: azure;
    padding: 12px;
    border-radius: 400px;
}

/* Pushes interactive game-area down*/
#game-area{
    position: absolute;
    bottom: 80px;
}

/* Defines button-style */
.choices button {
    font-size: 600%;
    margin: 0 15px;
    border-radius: 300px;
    background-color: hsl(200, 205, 208);
    cursor: grab;
}

/* Add´s hover effect style for buttons */
.choices button:hover{
    background-color: rgb(200, 205, 208);
}

/* Styling of score-board */
.score-board {
    text-align: center;
    background-color: azure;
    border: 1.5px solid black;
    padding: 5 0px;
    margin-top: 20px
}

/* Who won game and why */
.result {
    text-align: center;
    background-color: azure;
}

/* hide / disable */

.hide {
    display: none;
}

.disable {
    pointer-events: none;
}
